{{!-- homepage --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Junkie</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  
    <footer>
      <p>© 2023 Fitness Junkie</p>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  <!--added script to use axios instead of fetch for external api calls-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>