<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Fitness Junkie</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>

<body class="body">
  <header>
    <h1 id="welcome">Welcome to Fitness Junkie!</h1>
    {{#if logged_in}}
      <a href="/profile">Go to Profile</a>
      <a href="/logout">Logout</a>
    {{else}}
      {{!-- <a href="/login">Login</a> --}}
    {{/if}}
  </header>
  <main class="container">
    <div class="card mb-4">
      <h2 id="AboutUs">About Us</h2>
      <p id="AboutUsText"> We are a group of fitness enthusiasts who want to help you achieve your fitness goals.
        We have a variety of workouts and recipes to help you get started on your fitness journey.
        We also have a community forum where you can connect with other fitness junkies and share your progress.
        We hope you enjoy our site and find it useful!
      </p>
    </div>

<div class="row justify-content-end">
  <div class="col-md-6">
    <div class="card h-100">
      <h2 class="card-header text-center" id="login">Login</h2>
      <div class="card-body">
        <form class="form login-form">
          <div class="form-group">
            <label class="label" for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label class="label" for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary mx-auto d-block" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card h-100">
      <h2 class="card-header text-center" id="signup">Signup</h2>
      <div class="card-body">
        <form class="form signup-form">
          <div class="form-group">
            <label class="label" for="name-signup">Name:</label>
            <input class="form-input" type="text" id="name-signup" />
          </div>
          <div class="form-group">
            <label class="label" for="email-signup">Email:</label>
            <input class="form-input" type="text" id="email-signup" />
          </div>
          <div class="form-group">
            <label class="label" for="password-signup">Password:</label>
            <input class="form-input" type="password" id="password-signup" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary mx-auto d-block" type="submit">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

    {{!-- <div class="container mt-5">
      <div class="card">
           <h5 class="card-header bg-primary text-white">Weight Chart</h5>
        <div class="card-body">
          <div class="chart-options mb-4">
            <div class="btn-group" role="group" aria-label="Chart Options">
              <button type="button" class="btn btn-outline-primary active" data-range="week">1 Week</button>
              <button type="button" class="btn btn-outline-primary" data-range="month">1 Month</button>
              <button type="button" class="btn btn-outline-primary" data-range="threeMonths">3 Months</button>
              <button type="button" class="btn btn-outline-primary" data-range="year">1 Year</button>
            </div>
          </div>
          <canvas id="lineChart"></canvas>
        </div>
      </div>
    </div> --}}
  </main>

</body>
<script src="./js/login.js"></script>
<script src="./js/homepage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</html>